APP_NAME="Cuzco Travel"
APP_ENV=local
APP_KEY=base64:ML/bKga1PAO06HIAmPeIToztwmxmYU36tJjZFVasvac=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=jisa
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=a71dcd13e7f28a
MAIL_PASSWORD=afacb0abf6a34d
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS='ventas@cuscoinsight.com'
MAIL_FROM_NAME="${APP_NAME}"

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=ventas@cuscoinsight.com
MAIL_PASSWORD='bafw yeuf abtv javs'
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS='ventas@cuscoinsight.com'
MAIL_FROM_NAME="${APP_NAME}"

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=operaciones@cuscoinsight.com
MAIL_PASSWORD='w s a x y o h m b q x v s j c k'
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS='operaciones@cuscoinsight.com'
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
MIX_ASSET_URL=/public/

API_SUNAT_TOKEN=apis-token-1960.bOuTjDgJVaesmOGPR8pijXHcTXGA20BJ
API_SUNAT_URL_DNI=https://api.apis.net.pe/v2/reniec/dni?numero=
API_SUNAT_URL_RUC=https://api.apis.net.pe/v1/ruc?numero=
API_SUNAT_URL_CAMBIO=https://api.apis.net.pe/v2/sunat/tipo-cambio?date=

